form {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  align-items: center;

  .mat-divider {
    margin: 1rem 0.5rem;
    grid-column: span 4;
  }

  mat-slide-toggle+mat-slide-toggle {
    margin-left: 1rem;
  }

  .form-axis {
    grid-column: span 4;

    header {
      grid-column: span 4;
    }

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    align-items: center;

    .mat-mdc-mini-fab {
      justify-self: end;
    }
  }

  .form-axis-marker {
    grid-column: span 4;
    margin-left: 15%;

    header {
      grid-column: span 5;
    }
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    align-items: center;

    .mat-mdc-mini-fab {
      justify-self: end;
    }
  }

  .form-circle {
    header {
      grid-column: span 3;
    }

    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;

    .mat-mdc-mini-fab {
      justify-self: end;
    }
  }

}
