<form [formGroup]="form">
  <mat-form-field>
    <mat-label>svg image size</mat-label>
    <input type="number" matInput formControlName="size" placeholder="Name" />
  </mat-form-field>

  @for (axis of form.controls.axis.controls; track $index) {
  <ng-container *ngTemplateOutlet="axisForm; context: { form: form, axisIndex: $index }"></ng-container>
  }

  <mat-divider></mat-divider>
  <button type="button" mat-flat-button (click)="form.controls.axis.insert(-1, getAxisForm())">Add axis</button>
</form>

<ng-template #axisForm let-form="form" let-axisIndex="axisIndex">
  <mat-divider></mat-divider>
  <ng-container *ngIf="form.controls.axis.controls[axisIndex] as axisForm">
    <div [formGroup]="axisForm" class="form-axis">
      <header>
        <h1>Axis {{ axisIndex + 1 }}</h1>
        <h5>
          {{ form.controls.size.value - axisForm.value.offsetStart - axisForm.value.offsetStart }}
          px
        </h5>
      </header>
      <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
      <button type="button" mat-mini-fab (click)="form.controls.axis.removeAt(axisIndex)">
        <mat-icon>delete</mat-icon>
      </button>

      <mat-form-field>
        <mat-label>angle of axis</mat-label>
        <input type="number" matInput formControlName="angle" placeholder="Angle" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>line width in px</mat-label>
        <input type="number" matInput formControlName="strokeWidth" placeholder="Stroke width" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>axis start offset</mat-label>
        <input type="number" matInput formControlName="offsetStart" placeholder="offsetStart" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>axis end offset</mat-label>
        <input type="number" matInput formControlName="offsetEnd" placeholder="offsetEnd" />
      </mat-form-field>
    </div>

    @for (section of axisForm.controls.sections.controls; let sectionIndex = $index; track sectionIndex) {
    <ng-container *ngTemplateOutlet="axisSectionForm; context: { axisForm, axisIndex, sectionIndex }"></ng-container>
    }
  </ng-container>
</ng-template>

<ng-template #axisSectionForm let-axisForm="axisForm" let-axisIndex="axisIndex" let-sectionIndex="sectionIndex">
  <mat-divider></mat-divider>
  <ng-container *ngIf="axisForm.controls.sections.controls[sectionIndex] as sectionForm">
    <div [formGroup]="sectionForm" class="form-axis">
      <header>
        <h1>Section {{ sectionIndex + 1 }}</h1>
      </header>
      <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
      <button type="button" mat-mini-fab (click)="axisForm.controls.sections.removeAt(sectionIndex)">
        <mat-icon>delete</mat-icon>
      </button>

      <mat-form-field>
        <mat-label>count</mat-label>
        <input type="number" matInput formControlName="count" placeholder="Count" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>gap in px</mat-label>
        <input type="number" matInput formControlName="gap" placeholder="gap" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>offset</mat-label>
        <input type="number" matInput formControlName="offset" placeholder="offset" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>stroke width</mat-label>
        <input type="number" matInput formControlName="strokeWidth" placeholder="Stroke width" />
      </mat-form-field>
    </div>
  </ng-container>
</ng-template>
