<app-reticle-svg-renderer [reticle$]="formComponent.valueChanges"></app-reticle-svg-renderer>

<header>
  <a href="https://github.com/deegeemee/reticle-generator">
    <img src="assets/github-mark/github-mark-white.svg" alt="Github logo" />
  </a>
  <a href="https://twitter.com/deegeemeeonx">
    <img src="assets/x-logo/logo.svg" alt="Github logo" />
  </a>
  <h1>{{ title }}</h1>
  <h5>version {{ version$ | async }} by deegeemee</h5>
</header>

<app-reticle-form #formComponent></app-reticle-form>
