:host {
  display: grid;
  grid-template-columns: 5fr minmax(30rem, 20%);
  grid-template-rows: max-content 1fr;
}

header, app-reticle-form {
  background-color: #6b6b6b;
}

app-reticle-svg-renderer {
  grid-row: span 2;
}

header {
  padding: 0.5rem;
  color: white;
  background-color: var(--mdc-filled-text-field-container-color);
  text-align: right;
  
  h1, h5 {
    margin: 0;
    font-weight: 200;
    line-height: 1;
  }

  h5 {
    opacity: 0.5;
  }
}
