:host {
  display: grid;
  grid-template-columns: 5fr minmax(30rem, 20%);
  grid-template-rows: 1fr;
}

.svg {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  background-color: var(--mdc-theme-surface);
}

.console {
  background-color: #6b6b6b;

  header {
    padding: 0.5rem;
    color: white;
  }
  
  &>header {
    background-color: var(--mdc-filled-text-field-container-color);
    text-align: right;
  }
  
  h1, h5 {
    margin: 0;
    font-weight: 200;
    line-height: 1;
  }

  h5 {
    opacity: 0.5;
  }

  form {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;

    .mat-divider {
      margin: 1rem 0.5rem;
      grid-column: span 4;
    }

    header {
      grid-column: span 2;
    }

    mat-form-field {
      grid-column: span 2;
    }

    .form-axis {
      grid-column: span 4;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      align-items: center;

      .mat-mdc-mini-fab {
        justify-self: end;
      }
    }
  }

}
