<app-reticle-svg-renderer [reticle$]="formComponent.valueChanges"></app-reticle-svg-renderer>

<header>
  <div class="social">
    <a href="https://github.com/deegeemee/reticle-generator">
      <img src="https://shared-assets.deegeemee.net/github/github-mark-white.svg" alt="Github logo" />
    </a>
    <a href="https://twitter.com/deegeemeeonx">
      <img src="https://shared-assets.deegeemee.net/x/logo.svg" alt="X logo" />
    </a>
    <a href="https://patreon.com/deegeemee">
      <img src="https://shared-assets.deegeemee.net/patreon/PATREON_SYMBOL_1_WHITE_RGB.svg" alt="patreon logo" />
    </a>
    <a href="https://www.youtube.com/@deegeemee">
      <img
        src="https://shared-assets.deegeemee.net/youtube/youtube_full_color_icon/social/128px/white/youtube_social_circle_white.png"
        alt="youtube logo" />
    </a>
  </div>
  <div class="title">
    <h1>{{ title }}</h1>
    <h5>version {{ version$ | async }} by deegeemee</h5>
  </div>
</header>

<app-reticle-form #formComponent></app-reticle-form>
