app-social-bar {
  --social-bar-icon-size: 1.6rem;

  display: grid;
  grid-template-columns: repeat(4, var(--social-bar-icon-size));
  place-items: center start;
  gap: 0.5rem;

  img {
    height: var(--social-bar-icon-size);
    width: auto;
    transform: scale(1);
    transition: transform 0.2s ease;
  }

  a {
    display: block;
    height: var(--social-bar-icon-size);
    width: var(--social-bar-icon-size);
  }
  
  a>img:hover {
    transform: scale(1.2);
  }
}
