<a href="https://github.com/deegeemee/reticle-generator">
  <img
    width="98"
    height="96"
    src="https://shared-assets.deegeemee.net/github/github-mark-white.svg"
    alt="Github logo" />
</a>
<a href="https://twitter.com/deegeemeeonx">
  <img width="1200" height="1227" src="https://shared-assets.deegeemee.net/x/logo.svg" alt="X logo" />
</a>
<a href="https://www.youtube.com/@deegeemee">
  <img
    width="128"
    height="128"
    src="https://shared-assets.deegeemee.net/youtube/youtube_full_color_icon/social/128px/white/youtube_social_circle_white.png"
    alt="youtube logo" />
</a>
