@font-face {
  font-family: Jost;
  src: url('/assets/fonts/jost/Jost-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: JostItalic;
  src: url('/assets/fonts/jost/Jost-Italic-VariableFont_wght.ttf');
  font-display: swap;
}
